{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_styles.css' %}">
    <title>GreenStep</title>
</head>
<body>
    <a href="{% url 'inicio' %}" class="btn btn-primary mt-3 ms-4" style="background: transparent; border: transparent;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="color: darkgreen">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </a>
    <form action="" method="post">
        {% csrf_token %}
    <div class="container-flex">
        <h1 class="display-3">GreenStep</h1>
        <div class="card rounded-4 shadow-lg">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-body">
                {{ form|crispy }}
                <div class="container2">
                    <button class="btn btn-sm btn-primary" type="submit" style="width: 80%; font-size: medium;">Iniciar sesión</button>
                    <hr>
                    <a class="btn btn-success" href="{% url 'register_url' %}" role="button" style="width: 50%;">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>


{% endblock %}