{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenStep</title>
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <a href="{% url 'login_url' %}" class="btn btn-primary mt-3 ms-4" style="background: transparent; border: transparent;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="color: darkgreen">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
    </a>
    <div class="container">
        <div class="text-center">
            <div class="row">
                <div class="align-self-center">
                    <br>
                    <h1 class="display-1" style="color: darkgreen;">GreenStep</h1>
                </div>
            </div>
        </div>
        <div class="card rounded-4 shadow-lg position-absolute top-50 start-50 translate-middle" style="width: 30rem;">
            {% csrf_token %}
            <div class="card-body">
                <h5 class="card-title">Registrate</h5>
                {{ form.username|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                <hr>
                <div class="container text-center">
                    <div class="row">
                        <div class="align-self-center">
                            <button class="btn btn-sm btn-primary" type="submit" style="height: 4vh; width: 30vh; font-size: medium;">Crear cuenta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}