{% extends 'index.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/calculo.css' %}">

<body>
    <section class="home">
        <div class="container">
            <header>Encuesta</header>
            <div class="progress-bare">
                <div class="step">
                    <p></p>
                    <div class="bullet">
                        <span></span>
                    </div>
                    <div class="check bx bx-check"></div>
                </div>
                <div class="step">
                    <p></p>
                    <div class="bullet">
                        <span></span>
                    </div>
                    <div class="check bx bx-check"></div>
                </div>
                <div class="step">
                    <p></p>
                    <div class="bullet">
                        <span></span>
                    </div>
                    <div class="check bx bx-check"></div>
                </div>
                <div class="step">
                    <p></p>
                    <div class="bullet">
                        <span></span>
                    </div>
                    <div class="check bx bx-check"></div>
                </div>
            </div>
            <div class="form-outer">
                <form action="\calcularhuella\" method="get" name="encuesta">
                    <div class="page slidepage">
                        <div class="title">¿Cuántos kilómetros conduces por semana?</div>
                        <div class="field">
                            <label for="kms_conducidos" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="kms_conducidos">
                        </div>
                        <div class="title">¿Cuál es tu consumo promedio de electricidad en casa?</div>
                        <div class="field">
                            <label for="promedio_electricidad" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="promedio_electricidad">
                        </div>
                        <div class="field nextBtn">
                            <button type="button">Siguiente</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">¿Cuántos vuelos de larga distancia realizas por año?</div>
                        <div class="field">
                            <label for="vuelos" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="vuelos">
                        </div>
                        <div class="title">¿Con qué frecuencia comes carne roja?</div>
                        <div class="field">
                            <label for="carnes_rojas" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="carnes_rojas">
                        </div>
                        <div class="field btns">
                            <button class="prev-1 prev" type="button">Anterior</button>
                            <button class="next-1 next" type="button">Siguiente</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">¿Reciclas regularmente?</div>
                        <div class="field">
                            <label for="reciclaje" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="reciclaje">
                        </div>
                        <div class="title">¿Usas transporte público o compartido regularmente?</div>
                        <div class="field">
                            <label for="transporte" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="transporte">
                        </div>
                        <div class="field btns">
                            <button class="prev-2 prev" type="button">Anterior</button>
                            <button class="next-2 next" type="button">Siguiente</button>
                        </div>
                    </div>
                    <div class="page">
                        <div class="title">¿Tienes un jardín o espacio verde en casa?</div>
                        <div class="field">
                            <label for="jardin" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="jardin">
                        </div>
                        <div class="title">¿Cuál es tu consumo de agua promedio?</div>
                        <div class="field">
                            <label for="agua_promedio" class="form-label"></label>
                            <input type="range" class="form-range" min="0" max="2" name="agua_promedio">
                        </div>
                        <div class="field btns">
                            <button class="prev-3 prev" type="button">Anterior</button>
                            <button class="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'js/footprint.js' %}"></script>
</body>

{% endblock %}