{% extends 'index.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenStep</title>
</head>
<body>
    <section class="home">
        <label for="tipo_de_vehiculo">¿Que vehiculo utiliza?</label>
        <select name="tipo_de_vehiculo" id="tipo_de_vehiculo">
            {% for vehiculo in vehiculos %}
                <option value="opcion">{{ vehiculo.tipo_de_vehiculo }}</option>
            {% endfor %}
        </select>
    </section>
</body>
</html>
{% endblock %}