{% extends 'index.html  ' %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
  <title>GreenStep</title>
</head>

<body>
  <h1>Bienvenidx a GreenStep, {{ user.username }}</h1>
  <h3>¿Que es GreenStep?</h3>
  <p>GreenStep es un sitio web que busca concientizar a la gente sobre la huella de carbono que cada persona genera</p>
  <p>Para lograr nuestro objetivo usamos una Rest API que nos permite mostrar cuanto carbono generan nuestras acciones cotidianas y cual podria ser la mejor opcion en cada caso</p>
  <a href="{% url 'logout' %}">Cerrar sesión</a>
</body>
</html>

{% endblock %}