{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>GreenStep</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'LogoV2.png' %}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">GreenStep</span>
                    <span class="profession">Project</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>


        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                        <i class='bx bx-search icon' ></i>
                        <input type="input" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link de">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link de">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Estadistica</span>
                        </a>
                    </li>
                    <li class="nav-link de">
                        <a href="{% url 'calculadora' %}">
                            <i class='bx bx-calculator icon' ></i>
                            <span class="text nav-text">Calcula</span>
                        </a>
                    </li>
                    <li class="nav-link de">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">hola</span>
                        </a>
                    </li>
                    <li class="nav-link de">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'logout' %}">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Cerrar sesión</span>
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'login_url' %}">
                            <i class='bx bx-log-in icon' ></i>
                            <span class="text nav-text">Iniciar sesión</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'register_url' %}">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Registrate</span>
                        </a>
                    </li>
                {% endif %}
                <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <script src="{% static 'js/script.js' %}"></script>
    {% block content %}{% endblock %}
</body>
</html>