{% extends 'index.html' %}

{% load static %}

{% block content %}

<body>
    <section class="home">
        <h1 class="text">Nosotros</h1>
        <table>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
            <tr>
                <td>¿Cuántos kms conduce por semana?</td>
                <td>{{ resultados.kms_conducidos }}</td>
            </tr>
        </table>
    </section>
    <script src="{% static 'js/footprint.js' %}"></script>
</body>

{% endblock %}