{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenStep</title>
</head>
<body>
    <h1>¿Quienes somos?</h1>

    <div>
        Somos un grupo de la Universidad Tecnica Federico Santa Maria, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, modi officia. Aspernatur, odio ipsam deserunt aperiam temporibus consequatur labore sapiente error, ad pariatur nesciunt perspiciatis quasi ipsa deleniti repellendus recusandae.
    </div>
</body>
</html>

{% endblock %}