@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira+Extra+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    margin-top: 15px;
    width: 450px;
    background: var(--sidebar-color);
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}
.container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: var(--text-body-color);
}

.container .form-outer{
    width: 100%;
    overflow: hidden;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-body-color);
}

.form-outer form .page .field {
    height: 45px;
    width: 100%;
    margin: 45px 0;
    display: flex;
    position: relative;
}

.form-outer form .page .field label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -5px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover {
    background: var(--btn);
}

.form-outer form .page .btns button {
    margin-top: -5px!important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bare {
    display: flex;
    margin: 40px 0;
}

.container .progress-bare .step {
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bare .step p{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-body-color);
    margin-bottom: 8px;
    transition: 0.2s;
}

.progress-bare .step p.active {
    color: var(--primary-color);
}

.progress-bare .step .bullet {
    position: relative;
    height: 27px;
    width: 27px;
    border: 2px solid var(--text-body-color);
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}

.progress-bare .step .bullet.active {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.progress-bare .step:last-child .bullet::before,
.progress-bare .step:last-child .bullet::after {
    display: none;
}

.progress-bare .step .bullet::before,
.progress-bare .step .bullet::after {
    position: absolute;
    content: '';
    bottom: 9px;
    right: -58px;
    height: 3px;
    width: 44px;
    background: var(--text-body-color);
}

.progress-bare .step .bullet.active::after {
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bare .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bare .step .bullet.active span {
    display: none;
}

.progress-bare .step .check {
    display: absolute;
    left: 50%;
    top: 70%;
    font-size: 25px;
    transform: translate(0%, -132.5%);
    display: none;
}

.progress-bare .step .check.active {
    display: block;
    color: #fff;
}

.form-outer form .page .field .op {
    position: absolute;
    display: flex;
    font-size: 0.75em;
    width: 98%;
    top: 25px;
}

.form-outer form .page .field .op .op1{
    position: absolute;
    left: 0;
    width: 30%;
    text-align: start;
}
.form-outer form .page .field .op .op2 {
    position: absolute;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}
.form-outer form .page .field .op .op3{
    position: absolute;
    right: 0;
    width: 30%;
    text-align: end;
}

.card {
    position: absolute;
    width: 300px;
    left: 5%;
    background: var(--sidebar-color);
}

.ita {
    position: relative;
}

.ita-name {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    margin-left: 75px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: var(--text-body-color);
    font-size: large;
    font-weight: 900;
}

.msg {
    color: var(--text-body-color);
}