@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira+Extra+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.home {
    position: relative;
}

.text-top {
    position: relative;
    height: 100px;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    word-break: break-all;
    color: var(--text-body-color);
    top: calc(30% - 175px);
}

.cart-ita {
    width: 50%;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    position: absolute;
    left: 50%;
    top: calc(30% + 300px);
    transform: translate(-50%, -50%);
}

.ita {
    position: relative;
}

.ita-name {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    margin-left: 75px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: var(--text-body-color);
    font-size: large;
    font-weight: 900;
}

.msg {
    color: var(--text-body-color);
}

.link {
    color: var(--special-body);
    text-decoration: none;
    outline: none;
}

.link:hover {
    color: var(--special-body);
    text-decoration: underline;
}

.carbono {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 50%;
    height: 200px;
    background-color: var(--sidebar-color);
    border-radius: 20px;
}

.carbono .inc {
    background-color: var(--sidebar-color);
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-color: var(--special-body);
}

.mm {
    margin: 5px;
    font-weight: 500;
}

.ton {
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 2em;
}