@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }
body {
    background: rgb(221, 228, 221);
    }

.display-3 {
    color: rgb(49, 131, 49);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.card {
    width: 23%;
    position: absolute;
    top: 50%;
    left: 67.5%;
    transform: translate(-50%, -50%);
}

.container2 {
    text-align: center;
    position: relative;
}

.alert {
    width: 80%;
    padding: 10px;
}